@font-face {
   font-family: 'jojo';
   src: url('jojo/font.ttf');
}
@font-face {
   font-family: 'naruto2';
   src: url('naruto2/font.ttf');
}
@font-face {
   font-family: 'one piece 2';
   src: url('one piece 2/font.ttf');
}
