@font-face {
   font-family: 'font';
   src: url('font/font.ttf');
}
@font-face {
   font-family: 'naruto';
   src: url('naruto/font.ttf');
}
@font-face {
   font-family: 'one piece';
   src: url('one piece/font.ttf');
}
@font-face {
   font-family: 'SF Theramin Gothic Shaded';
   src: url('SF Theramin Gothic Shaded/font.ttf');
}
